<img [src]="'https://images.unsplash.com/photo-1614660676530-73068d28ce84'" alt="My Image">

<div class="container">
    <pre>"אֶתֵּן לָהּ שׁוֹשַׁנִּים, צְרוֹר דֻּבְדְּבָנִים וְשִׁיר עִם מַנְגִּינָה"</pre>
    <h1>הזמנה לחתונה</h1>
    <h2>נרגשים להזמינכם להשתתף בשמחתינו</h2>
    <p>
        <strong>חן עדי</strong>
        & 
        <strong>שגיב</strong>
    </p>
    <p>request the pleasure of your company</p>
    <p>at the celebration of their union</p>
    <div class="line"></div>
    <div class="event-info">
    <p><strong>Date:</strong> Saturday, May 14th, 2023</p>
    <p><strong>Time:</strong> 3:00 PM</p>
    <p><strong>Location:</strong> The Grand Hotel</p>
    </div>
    <div class="line"></div>
    <h2>Event Timeline</h2>
    <ul class="event-timeline">
    <li>
        <p>3:00 PM - Ceremony</p>
    </li>
    <li>
        <p>4:00 PM - Cocktail Hour</p>
    </li>
    <li>
        <p>5:00 PM - Dinner Reception</p>
    </li>
    <li>
        <p>8:00 PM - Dancing and Celebration</p>
    </li>
    </ul>
    <div class="line"></div>
    <p>Kindly RSVP by April 30th, 2023</p>
<p>Contact us at <a href="mailto:brideandgroom@example.com">brideandgroom@example.com</a> with any questions or concerns</p>
</div>

<div class="form-wrapper">
    <app-invite-form></app-invite-form>
</div>
