<img src="../../assets/images/bg.avif" alt="background Image" class="lazy bg-image">

<div class="container">
    <small>"אֶתֵּן לָהּ שׁוֹשַׁנִּים, צְרוֹר דֻּבְדְּבָנִים וְשִׁיר עִם מַנְגִּינָה"</small>
    <h1 class="names">שגיב & חן עדי</h1>
    <p>מתחתנים</p>
    <div class="love">
        <mat-icon>favorite</mat-icon>
    </div>
    <p>אנו שמחים ונרגשים להזמין אתכם לחגוג עמנו את יום נישואינו</p>
    <div class="line"></div>
    <div class="event-info">
        <div class="date-wrapper">
            <mat-icon>date_range</mat-icon>
            <p>יום רביעי, י"ט אייר  תשפ"ג</p>
            <p>Wednesday, 10.05.2023</p>
        </div>
        <div>
            <mat-icon>view_timeline</mat-icon>
            <div class="timeline-text">
                <p>קבלת פנים<br>19:30</p>
                <p>חופה וקידושין<br> 20:30</p>
            </div>
        </div>
        <div class="location-and-event">
            <div>
                <div>
                    <mat-icon>location_on</mat-icon>
                </div>
                <a [href]="config.location.google" class="location-link" target="_blank" rel="nofollow">ווין אולם אירועים, עמק חפר</a>
                <div class="location-icons">
                    <div class="location google-location">
                        <a [href]="config.location.google" target="_blank" rel="nofollow">
                            <img src="../../assets/images/googleMaps.svg" alt="" width="48" height="48">
                        </a>
                    </div>
                    <div class="location waze-location">
                        <a [href]="config.location.waze" target="_blank" rel="nofollow">
                            <img src="../../assets/images/waze.png" alt="" width="48" height="48">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <a [href]="googleEventLink" target="_blank" rel="nofollow" class="add-to-calendar">
                    <small>קליק להוספה ליומן</small>
                    <img src="../../assets/images/calendar.png" alt="" width="42" height="42">
                </a>                
            </div>
        </div>
    </div>
    <div class="line" *ngIf="!sizes.isDesktop()" ></div>
</div>
<div class="form-wrapper">
    <img src="../../assets/images/rings.png" alt="" width="100" height="100">
    <h1>אישור הגעה</h1>
    <h4>נשמח לראותכם בין אורחינו</h4>
    <app-invite-form></app-invite-form>
</div>
