<img [src]="'https://images.unsplash.com/photo-1614660676530-73068d28ce84'" alt="My Image" class="bg-image">

<div class="container">
    <pre>"אֶתֵּן לָהּ שׁוֹשַׁנִּים, צְרוֹר דֻּבְדְּבָנִים וְשִׁיר עִם מַנְגִּינָה"</pre>
    <h1>שגיב & חן עדי</h1>
    <p>מתחתנים</p>
    <div class="love">
        <mat-icon>favorite</mat-icon>
    </div>
    <p>אנו שמחים ונרגשים להזמין אתכם לחגוג עמנו את יום נישואינו</p>
    <div class="line"></div>
    <div class="event-info">
        <div>
            <mat-icon>date_range</mat-icon>
            <p>יום רביעי, י"ט אייר  ה'תשפ"ג</p>
            <p>Wednesday, 10 May 2023</p>
        </div>
        <div>
            <div>
                <mat-icon>location_on</mat-icon>
            </div>
            <a [href]="config.location.google">ווין אולם אירועים, עמק חפר</a>
            <div class="location-icons">
                <div class="location google-location">
                    <a [href]="config.location.google">
                        <img src="../../assets/googleMaps.svg" alt="" width="48" height="48">
                    </a>
                </div>
                <div class="location waze-location">
                    <a [href]="config.location.waze">
                        <img src="../../assets/waze.png" alt="" width="48" height="48">
                    </a>
                </div>
            </div>
        </div>
        <div>
            <mat-icon>view_timeline</mat-icon>
            <p>קבלת פנים</p>
        </div>
    </div>
    <div class="line"></div>
</div>

<div class="form-wrapper">
    <app-invite-form></app-invite-form>
</div>
