form {    
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    mat-form-field {
        width: 100%;
        div {
            border-radius: 10px;
        }
    }
}