@font-face {
    font-family: 'anka';
    src: url('assets/fonts/anka.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { 
    height: 100%;
    direction: rtl;
    margin: 0;
    font-family: 'anka', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #f5deb3;
    transition: .3s ease;
    &:hover {
        color: #b1883c;
    }
}