
* {
    font-family: 'Rubik', 'M PLUS Rounded 1c', 'Solitreo', sans-serif;
}

html, body { 
    height: 100%;
    direction: rtl;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #f5deb3;
    transition: .3s ease;
    &:hover {
        color: #b1883c;
    }
}