@font-face {
    font-family: 'anka';
    src: url('assets/fonts/anka.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    
}


html, body { 
    font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    direction: rtl;
    margin: 0;
}


a {
    text-decoration: none;
    color: #f5deb3;
    transition: .3s ease;
    font-size: 18px;
    font-weight: 800;
}

@mixin textShadow {
    text-shadow: 1px 1px 5px black;
}